.footer {
  background-image: linear-gradient(#302518 0.48%, rgba(84, 78, 70, 0.565217) 33.2%, rgba(141, 138, 133, 0.322174) 59.48%, rgba(161, 159, 155, 0.237391) 84.6%, rgba(217, 217, 217, 0) 2.64%), url(src/assets/backgroundWall.png);
  background-size: 100%;
  height: 7.5rem;
  display:flex;
  flex-direction: column;
  justify-content: center;

}

.footerimage {
  width:7.75rem;
  height:2.375rem;
  margin-bottom: 0rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  