/*HEADER SECTION*/

.header {
  background-image:url(src/assets/backgroundHeader.png);
  background-position: right 35% bottom 45%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 37.5rem;

}
  
.image2 {
  height:9.125rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:8.125rem;
  margin-bottom: 3rem;
  padding-top: 1rem;
}


.headerFirsttext{
color: white;
text-align: center;
margin-left: 2.75rem;
margin-bottom: 3.125rem;
margin-right:2.75rem; 


}


.headerSecondtext{
  margin-left: 2.75rem;
  margin-right:2.75rem; 
  color: white;
  text-align: center;
  margin-bottom: 31.25rem;
  font-size: 1.125rem;
  line-height: 1.5rem;

}


@media screen and (min-width: 600px) {
  .headerFirsttext{
    color: white;
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 3.125rem;
    margin-right:3rem; 
    font-size: 1.75rem;
    line-height: 2.5rem;
    
  
    }
    
    .headerSecondtext{
      margin-left: 2.75rem;
      margin-right:2.75rem; 
      color: white;
      text-align: center;
      margin-bottom: 31.25rem;
      font-size: 1.25rem;
      line-height: 2rem;
  
    }
  }


  @media screen and (min-width: 700px) {
    .headerFirsttext{
    text-align:left;
    max-width: 550px;
    }

    .headerSecondtext{
      text-align:left;
      max-width: 550px;
    }

  }

@media screen and (min-width: 1000px) {
  .header {
  height: 44.68rem;
  }

  .headerFirsttext{
    margin-top: 5rem;
    color: white;
    margin-bottom: 3.125rem;
    
    max-width: 55%;
    font-size: 2.25rem;
    line-height: 3.125rem;
    }

    .headerSecondtext{
      margin-left: 2.75rem;
      color: white;
      margin-right: 20rem;
      margin-bottom: 31.25rem;
      
      font-size: 1.5rem;
      line-height: 2rem;
      max-width: 55%;
    }
  
    .image2 {
      height:10.75rem;
      width:10rem;
    }

}


@media screen and (min-width: 1200px) {
  .headerFirsttext{
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 60%;
  }
  .headerSecondtext{
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 60%;
  }
}
