.pButtons {
  align-items: center;
  appearance: none;
  background: linear-gradient(269.49deg, #7755F9 10.41%, #02AAFD 111.89%), linear-gradient(270.52deg, #DB6C2F -10.09%, #7755F9 90.46%);
  border: 0;
  border-radius: 1.25rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 2.625rem;
  width: 6.688rem;
  justify-content: center;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  text-align: left;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  margin:auto;
  margin-bottom: 3rem;
  margin-top: 2rem;

}

.pButtons:hover {
  transform: translateY(-2px);
}

.pButtons:active {
  transform: translateY(2px);
}

.btnContainer {
  display: flex;
  align-self: center;
}