.logoButtonBack {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  margin-left: 25px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo {
  margin-left: 2.5%;
  grid-column-start: 1;
}

.logo img {
  width: 8.125rem;
}

.buttonBack {
  grid-column-start: 2;
}

.buttonBackDiv {
  opacity: 0.6;
  transition: all ease 0.3s;
}

.buttonBackDiv:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (min-width: 1000px) {
  .logo img {
    width: 10rem;
  }
}
