/* Link style */
a:link {
    list-style-type: none;
    text-decoration: none;
    color: var(--colorWhiteFonts);
}

.musicContainer {
    color: var(--colorWhiteFonts);   
    background: var(--gradientBG);
    /* width: 100%; */
}


.panelContainer {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.panel1,
.panel2, 
.panel3 {
    max-width: 330px;
    margin: 0;
}

.panel1 {
    margin: 0 auto;
}

.panel2,
.panel3 {
    display: none;
}


.musicDiscover {
    padding-top: 2rem;
    text-align: center;
}

.mainImg {
    display: flex;
}

.mainImg img {
    margin: 2rem auto;   
    margin-bottom: 1rem;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.songTitle, 
.artists, 
.country,
.format,
.release {
    text-align: center;
    font-weight: 500;
}

.release,
.country {
    font-size: 1rem;
    margin-top: 1rem;
}

.artists {
    margin-top: 1rem;
}

.country {
    margin-top: 1rem;
}

.shuffle {
    width: 120px;
    height: 40px;
    margin: 1rem auto;
    margin-top: 3rem;
    background: linear-gradient(269.49deg, #7755F9 10.41%, #02AAFD 111.89%), linear-gradient(270.52deg, #DB6C2F -10.09%, #7755F9 90.46%);
    border-radius: 20px;
    position: relative;    
}

.endTxt {
    padding-bottom: 1.4rem;
    margin-top: 1rem;
}

.endTxt p {
    text-align: center;
}

.endTxt a,
.endTxt img {
    display: flex;
    margin: 0 auto;
}

.endTxt1 {
    font-size: 0.8rem;
}

.spotifyLogo {
    width: 5rem;
}

.shuffleBtn {
    margin-top: 2rem;
}

@media screen and (min-width: 600px)  {
    .musicDiscover {
        text-align: initial;
        padding-left: 12%;
    }

    .panelContainer {
        display: flex;
        padding: 0 auto;
    }

    .panel2 {
        display: inline;
        margin: 0 auto;
    }
}

@media screen and (min-width: 900px) {
    .panel3 {
        display: inline;
    }

    .panel1,
    .panel2,
    .panel3 {
        margin: 0 auto;
    }
}