:root {
  --colorDarkBG: #302518;
  --colorBlackFonts: #131315;
  --colorWhiteFonts: #f5f5f5;
  --colorGray: #f6f6f6;
  --colorLightblue: #4faeff;
  --gradientBG: linear-gradient(270.64deg, #7755f9 -22.24%, #5f3971 109.3%);
  --gradientButtons: linear-gradient(269.49deg, #7755f9 10.41%, #02aafd 111.89%),
    linear-gradient(270.52deg, #db6c2f -10.09%, #7755f9 90.46%);
  --fontPoppins: "Poppins", sans-serif;
  --fontNoto: "Noto Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 330px;
  width: 100%;
}

/*--------Fonts Mobile-----------*/

h1 {
  color: var(--white);
  font-family: var(--fontPoppins);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.125rem;
}

h2 {
  font-family: var(--fontPoppins);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.pText {
  font-family: var(--fontNoto);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.pTitle {
  font-family: var(--fontNoto);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
}

.pItalic {
  font-family: var(--fontNoto);
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
}

.pButtons {
  align-items: center;
  appearance: none;
  background: linear-gradient(269.49deg, #7755f9 10.41%, #02aafd 111.89%),
    linear-gradient(270.52deg, #db6c2f -10.09%, #7755f9 90.46%);
  border: 0;
  border-radius: 1.25rem;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 2.625rem;
  width: 6.688rem;
  justify-content: center;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  text-align: left;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  margin: auto;
  margin-bottom: 2rem;
}

.pButtons:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.pButtons:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.pButtons:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/*--------CSS for Genres Pages-----------*/
.logoButtonBack {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.logo {
  margin-left: 2.5%;
  grid-column-start: 1;
}

.genreText p {
  padding: 0;
}

.rockImg {
  display: none;
}

.rockImg img {
  width: 20rem;
}

.buttonBack {
  grid-column-start: 2;
}

.buttonBackDiv {
  opacity: 0.6;
  transition: all ease 0.3s;
}

.buttonBackDiv:hover {
  cursor: pointer;
  opacity: 1;
}

.genreText {
  display: flex;
  flex-direction: column;
}

.genreText h1,
.genreText p {
  color: #f5f5f5;
}

.genreText p {
  white-space: wrap;
  max-width: 35ch;
  font-size: 18px;
}

.headerGenres {
  background: linear-gradient(270.64deg, #7755f9 -22.24%, #5f3971 109.3%);
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}

.genreTextAndImg {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.mostPopular {
  background: #f6f6f6;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #131315;
}

.mostPopularSongsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 15px;
  margin-top: 1rem;
  padding: 1rem;
}

.mostPopularSongsCoverSong {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

#popularCoverAndPopularText {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mostPopularSongsText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mostPopularSongsText p {
  padding: 0;
}

.playButton {
  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: 0.3s;
  padding: 30px;
  cursor: pointer;
  background-image: url("./src/assets/musiQue-imgs/playButton.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.playButton:hover {
  opacity: 1;
}

.spotifyIconLittle {
  align-self: flex-end;
}

.shuffle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: rem;
  width: 8rem;
}

.trending {
  background: #302518;
  color: #f5f5f5;
  height: auto;
  padding-bottom: 2rem;
}

.trendingArtistsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#trendingImg {
  width: 100%;
  -webkit-box-shadow: inset 0 0 10px 10px blue;  
  -moz-box-shadow: inset 0 0 10px 10px blue;
  box-shadow: inset 0 0 10px 10px blue;
}



footer {
  text-align: center;
  padding: 1rem;
  position: sticky;
  top: 100vh;
  background-image: linear-gradient(#302518 0.48%, rgba(84, 78, 70, 0.565217) 33.2%, rgba(141, 138, 133, 0.322174) 59.48%, rgba(161, 159, 155, 0.237391) 100%, rgba(217, 217, 217, 0) 2.64%), url(src/assets/backgroundWall.png);
}

.footerimage {
  width:7.75rem;
  height:2.375rem;
  margin-bottom: 0rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.trending h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
}

/*

background-image: linear-gradient(#302518 0.48%, rgba(84, 78, 70, 0.565217) 33.2%, rgba(141, 138, 133, 0.322174) 59.48%, rgba(161, 159, 155, 0.237391) 84.6%, rgba(217, 217, 217, 0) 2.64%), url(assets/background3.png);
*/

/*--------Fonts Tablet/Desktop-----------*/

@media screen and (min-width: 600px) {
  h1 {
    color: var(--white);
    font-family: var(--fontPoppins);
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 4.125rem;
  }

  h2 {
    font-family: var(--fontPoppins);
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
  }

  .pText {
    font-family: var(--fontNoto);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .pTitle {
    font-family: var(--fontNoto);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .pItalic {
    font-family: var(--fontNoto);
    font-weight: 400;
    font-style: italic;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .pButtons {
    font-family: var(--fontNoto);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  /*--------CSS for Genres Pages-----------*/

  .mostPopular {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .genreTextAndImg {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .genreText p {
    max-width: 65ch;
  }

  .trending {
    padding-left: 0rem;
    padding-right:0rem;
  }

  #popularCoverAndPopularText {
    gap: 5rem;
  }
}

@media screen and (min-width: 500px) {
  .mostPopularSongsContainer {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .rockImg {
    display: contents;
  }

  .spotifyIconLittle {
    display: none;
  }

  .trendingArtistsContainer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .trendingArtistsDiv:nth-child(1) {
   width:100%;
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;
  }
  .trendingArtistsDiv:nth-child(2) {
    width:100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .trendingArtistsDiv:nth-child(3) {
    width:100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .trendingArtistsDiv:nth-child(4) {
    width:100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .trendingArtistsDiv:nth-child(5) {
    width:100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .trendingArtistsDiv:nth-child(6) {
    display: none;
  }
  .trendingArtistsDiv:nth-child(7) {
    display: none;
  }
  .trendingArtistsDiv:nth-child(8) {
    display: none;
  }


}

@media screen and (min-width: 1000px) {
  .rockImg img {
    width: 30rem;
  }
}
